{
  presets: ["react-native"],
  plugins: [
    "transform-object-rest-spread",
    [
      "module-resolver",
      {
        "alias": {
          "react-primitives": "./src/main"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
